## Условие 1:

#### Задача 1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas
Вывести на экран первые 5 строк

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\olen\\Downloads\\_КУРС_GB_Разработчик\\11 Анализ данных\\dz\\kc_house_data.csv', encoding='cp1251')
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома.Если реновации дома не было, то в новом признаке поставьте 0

In [4]:
df['delta_renovated'] = 0
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,0

In [5]:
df.loc[df['yr_renovated']!=0, 'delta_renovated'] = df['yr_renovated'] - df['yr_built']
df.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,0
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,0
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,0
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,0
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,0
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,0
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,0
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,0
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,0
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,0
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,0
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,0
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,0
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,0
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,0
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,860,760,1947,0,98133,47.7025,-122.341,1400,4980,0
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,0
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,2270,0,1995,0,98092,47.3266,-122.169,2240,7005,0
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,1070,0,1985,0,98030,47.3533,-122.166,1220,8386,0
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0,...,2450,0,1985,0,98030,47.3739,-122.172,2200,6865,0
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,1710,0,1941,0,98002,47.3048,-122.218,1030,4705,0
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0,...,1750,700,1915,0,98119,47.6386,-122.360,1760,3573,0
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,...,1400,0,1909,0,98112,47.6221,-122.314,1860,3861,0
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0,...,790,730,1948,0,98115,47.6950,-122.304,1520,6235,0
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,2570,0,2005,0,98052,47.7073,-122.110,2630,6026,0
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0,...,2320,0,2003,0,98027,47.5391,-122.070,2580,3980,0
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,1190,0,2005,0,98133,47.7274,-122.357,1390,1756,0
32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5,0,0,...,1510,820,1929,0,98117,47.6823,-122.368,1460,5000,0
33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5,0,0,...,1090,0,1929,0,98117,47.6889,-122.375,1570,5080,0
34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0,0,0,...,1280,780,1981,0,98058,47.4276,-122.157,2020,8720,0
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,72
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0,...,930,730,1933,0,98052,47.6621,-122.132,2160,11467,0
37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0,0,0,...,2360,0,1904,0,98107,47.6702,-122.362,1730,4700,0
38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0,0,0,...,890,330,1969,0,98001,47.3341,-122.282,1290,7800,0
39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0,0,0,...,2620,0,1996,0,98056,47.5301,-122.180,2620,11884,0
40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0,0,0,...,2570,0,2000,0,98074,47.6145,-122.027,2470,5669,0
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0,0,0,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,0
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,0
43,9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0,0,0,...,1570,0,1922,0,98119,47.6413,-122.364,1580,2640,0
44,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0,0,0,...,920,360,1959,0,98058,47.4485,-122.175,1340,8808,0
45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0,0,0,...,3160,0,2003,0,98019,47.7443,-121.977,3050,9232,0
46,8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0,0,0,...,990,0,1966,0,98023,47.3066,-122.371,1228,8840,0
47,4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0,0,0,...,2290,0,1981,0,98007,47.6194,-122.151,2680,13685,0
48,9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0,0,0,...,1250,0,1953,0,98115,47.6796,-122.301,970,5100,0
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,2165,588,1953,0,98070,47.4041,-122.451,2680,72513,0

1.3 Создайте признаки года продажи, месяца продажи

In [6]:
df['yr_sale']=0

In [7]:
df['mth_sale']=0
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mth_sale
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,0,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,0,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,0,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,0,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,2009,0,98103,47.6993,-122.346,1530,1509,0,0,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2014,0,98146,47.5107,-122.362,1830,7200,0,0,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,2009,0,98144,47.5944,-122.299,1020,2007,0,0,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,2004,0,98027,47.5345,-122.069,1410,1287,0,0,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,2008,0,98144,47.5941,-122.299,1020,1357,0,0,0

1.4 Удалите признаки date, zipcode, lat, long

In [8]:
df = df.drop(columns=['date','zipcode','lat','long'])
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mth_sale
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,0,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,0,0
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,0,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,0,0
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509,0,0,0
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200,0,0,0
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007,0,0,0
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287,0,0,0
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357,0,0,0

### Условие 2:

#### 2 задача
Создайте датафрейм с клиентами:clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [9]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 
                                       3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 
                                       1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 
                        'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 
                                     6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 
                                     8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 
                                     809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 
                                     3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 
                                     3889100029, 9524100196] 
                       })

In [10]:
clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

2.1 Присоедините к таблице clients данные по домам через метод join

In [11]:
clients.set_index('house_id', inplace = True)

In [12]:
clients

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535
1189000207       2308
6821600300       2866
7137950720       2765
9510920050       1472
6131600255       4236
5428000070       2295
1788800910        939
8100400160       3840
3123049142        280
6306800010         20
5083000375       4332
7920100025       3475
1951600150       4213
809001400        3113
339600110        4809
1622049154       2134
1099600250       2242
8563000110       2068
2768100205       4929
3995700435       1384
8861700030       1589
3303980210       3317
7731100066       2260
8146100580       1727
825069097        1764
3889100029       1611
9524100196       1474

In [13]:
new = clients.join(df)
new

,client_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mth_sale
house_id,,,,,,,,,,,,,,,,,,,,,
8965450190,1459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6823100225,4684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5104540330,3498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2131701075,3942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522700060,4535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1189000207,2308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6821600300,2866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7137950720,2765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9510920050,1472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6131600255,4236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5428000070,2295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788800910,939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8100400160,3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123049142,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306800010,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5083000375,4332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7920100025,3475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951600150,4213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809001400,3113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339600110,4809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622049154,2134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099600250,2242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8563000110,2068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2768100205,4929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995700435,1384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8861700030,1589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3303980210,3317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731100066,2260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8146100580,1727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825069097,1764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3889100029,1611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9524100196,1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [14]:
#????????????????????????

In [15]:
df.reset_index(inplace=True)

In [16]:
clients.reset_index(inplace=True)

### не понял в чем ошибка

In [17]:
new1 = clients.merge(df, left_on='house_id', right_on='id')
new1

,house_id,client_id,index,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sale,mth_sale
0,8965450190,1459,7314,8965450190,295000.0,3,2.50,1500,3060,2.0,...,7,1500,0,1994,0,2700,7734,0,0,0
1,6823100225,4684,15505,6823100225,700000.0,4,1.75,1870,6000,1.0,...,8,1670,200,1949,0,1710,6000,0,0,0
2,5104540330,3498,7560,5104540330,679000.0,4,2.50,3680,7236,2.0,...,10,3680,0,2006,0,3310,7180,0,0,0
3,2131701075,3942,13185,2131701075,420000.0,3,1.75,1720,5000,1.5,...,8,1720,0,1932,2009,1410,8300,77,0,0
4,1522700060,4535,10395,1522700060,518000.0,4,2.75,2520,14021,2.0,...,9,2520,0,1999,0,2330,14007,0,0,0
5,1189000207,2308,7861,1189000207,387000.0,2,2.50,1170,1394,2.0,...,8,1170,0,2001,0,1250,3136,0,0,0
6,6821600300,2866,4660,6821600300,886000.0,3,2.25,2380,6000,2.0,...,9,1650,730,1931,0,2000,6000,0,0,0
7,7137950720,2765,13827,7137950720,339100.0,4,2.50,2350,10655,2.0,...,8,2350,0,1992,0,2210,7028,0,0,0
8,9510920050,1472,16528,9510920050,725000.0,3,2.50,2980,16996,2.0,...,10,2980,0,1992,0,2980,15438,0,0,0
9,6131600255,4236,16228,6131600255,202500.0,3,2.00,1540,8316,1.0,...,6,1540,0,1954,0,1250,8316,0,0,0
10,5428000070,2295,20765,5428000070,770000.0,5,3.50,4750,8234,2.0,...,10,3350,1400,2013,0,2160,14496,0,0,0
11,1788800910,939,12610,1788800910,190000.0,3,1.00,1200,10458,1.0,...,6,1200,0,1961,0,1160,9000,0,0,0
12,8100400160,3840,1362,8100400160,700000.0,3,2.25,2330,11424,2.0,...,8,2330,0,1984,0,2050,11448,0,0,0
13,3123049142,280,6951,3123049142,452000.0,3,2.25,2600,14810,1.0,...,8,1490,1110,1956,0,2450,16715,0,0,0
14,6306800010,20,20288,6306800010,436472.0,4,2.50,2692,8392,2.0,...,9,2692,0,2014,0,2574,14446,0,0,0
15,5083000375,4332,3033,5083000375,170000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,0,0
16,5083000375,4332,3034,5083000375,235000.0,3,1.00,1310,9529,1.0,...,7,1310,0,1956,0,1330,9529,0,0,0
17,7920100025,3475,2865,7920100025,450000.0,2,1.00,740,5100,1.0,...,7,740,0,1947,0,920,5100,0,0,0
18,1951600150,4213,12993,1951600150,180000.0,3,1.00,1610,8500,1.5,...,7,1610,0,1959,0,1070,8750,0,0,0
19,809001400,3113,9369,809001400,925000.0,3,1.00,1630,3200,1.5,...,8,1630,0,1912,0,1710,3600,0,0,0
20,339600110,4809,3351,339600110,395000.0,3,2.50,1610,3755,2.0,...,7,1610,0,1987,0,1300,3823,0,0,0
21,1622049154,2134,8879,1622049154,289900.0,3,1.75,1899,11325,2.0,...,7,1899,0,1943,2005,2000,10454,62,0,0
22,1099600250,2242,6585,1099600250,260000.0,3,1.75,1710,6400,1.0,...,7,1240,470,1976,0,1600,6400,0,0,0
23,8563000110,2068,17746,8563000110,427000.0,4,1.75,1460,9750,1.0,...,7,1460,0,1967,0,1820,9840,0,0,0
24,2768100205,4929,19379,2768100205,519000.0,4,2.50,1950,2617,1.5,...,7,1250,700,1910,0,1520,1438,0,0,0
25,3995700435,1384,11107,3995700435,265000.0,4,3.00,1940,8170,1.0,...,7,1940,0,1948,0,1310,8169,0,0,0
26,8861700030,1589,10112,8861700030,510000.0,3,1.50,2400,10275,1.0,...,8,1540,860,1964,0,2380,10125,0,0,0
27,3303980210,3317,18731,3303980210,1115000.0,4,3.75,4040,14212,2.0,...,11,4040,0,2002,0,3940,14212,0,0,0
28,7731100066,2260,7447,7731100066,545000.0,3,1.00,1510,5000,1.5,...,7,1510,0,1909,0,1680,4000,0,0,0
29,8146100580,1727,13635,8146100580,765000.0,3,1.00,1220,7585,1.0,...,7,1220,0,1954,0,1380,8918,0,0,0
30,825069097,1764,3029,825069097,770000.0,3,2.50,2650,40705,2.0,...,9,2650,0,1994,0,2550,42625,0,0,0
31,3889100029,1611,6880,3889100029,810000.0,3,2.50,2670,10481,2.0,...,9,2670,0,2003,0,2620,8895,0,0,0
32,9524100196,1474,20781,9524100196,239000.0,2,1.50,680,772,2.0,...,7,680,0,2005,0,690,1059,0,0,0

### Условие 3:

3 задача
Составьте несколько сводных таблиц
3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей
3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома
3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида
3.4 Каких домов в зависимости от этажности и количества спален больше?
3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [22]:
df.groupby('bedrooms').agg({'price':['mean']}).sort_values(('price', 'mean'))

                 price
                  mean
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [23]:
df.groupby('condition').agg({'price':['min','mean','max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [24]:
df.groupby(['waterfront','view']).agg({'price':'count'})

                 price
waterfront view
0          0     19489
           1       331
           2       955
           3       491
           4       184
1          1         1
           2         8
           3        19
           4       135

3.4 Каких домов в зависимости от этажности и количества спален больше?

In [25]:
df.groupby(['floors','bedrooms']).agg({'price':'count'})

                 price
floors bedrooms
1.0    0             4
       1           162
       2          1951
       3          5455
       4          2383
       5           605
       6           104
       7             9
       8             5
       10            1
       33            1
1.5    1            21
       2           182
       3           786
       4           698
       5           185
       6            30
       7             7
       8             1
2.0    0             6
       1            12
       2           497
       3          3118
       4          3682
       5           775
       6           119
       7            19
       8             6
       9             4
       10            2
       11            1
2.5    1             1
       2             5
       3            56
       4            58
       5            23
       6            14
       7             2
       9             2
3.0    0             2
       1             3
       2           123
       3           405
       4            61
       5            13
       6             5
       7             1
3.5    0             1
       2             2
       3             4
       8             1

3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [26]:
df.groupby(['condition','grade']).agg({'price':'median'})

                     price
condition grade
1         1       142000.0
          4       150000.0
          5       190000.0
          6       255000.0
          7       403500.0
          8       932500.0
2         3       280000.0
          4       145000.0
          5       180000.0
          6       235000.0
          7       305000.0
          8       429000.0
          9       715000.0
          10     1752500.0
3         3        75000.0
          4       205000.0
          5       234475.0
          6       265000.0
          7       357500.0
          8       485000.0
          9       689000.0
          10      890000.0
          11     1209500.0
          12     1807500.0
          13     2888000.0
4         4       238525.0
          5       229975.0
          6       295000.0
          7       390000.0
          8       571250.0
          9       823500.0
          10     1030000.0
          11     1685000.0
          12     2125000.0
          13     5750000.0
5         3       262000.0
          5       227450.0
          6       285475.0
          7       456000.0
          8       696000.0
          9      1078000.0
          10     1650000.0
          11     2050000.0
          12     1990000.0